body {
  font-family: 'Open Sans', sans-serif;
  background-color: $gray;
}

.nav-bg {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 1;
  overflow: hidden;
  opacity: 1 !important;
  text-align: center;

  .logo {
    margin-top: 40px;
  }

  &--off {
    display: none;
  }
}

.hamburger {
  color: $gray;
  position: fixed;
  z-index: 1;
  margin: 10px 10px 0;

  &--off {
    display: none;
  }
}

nav {
  display: flex;
  width: 100%;
  justify-content: center;

  & ul {
    display: flex;
    padding: 10px 0;
    flex-wrap: wrap;

    & li {
      list-style-type: none;
      text-align: center;
      width: 100%;
      padding: 25px 0;
      
      & a {
        color: white;
        text-decoration: none;
        font-size: 20px;
      }
    }
  }
}

.filter-blur{
  filter: blur(6px);
}

@include md {
  .nav-bg {
    height: auto;
    display: initial;
    opacity: 1 !important;
    background-color: transparent;
    display: flex;

    .logo {
      margin: 15px 30px;
    }
  }

  .filter-blur{
    filter: none;
  }

  nav {
    z-index: 3;
    justify-content: flex-end;

    & ul {
      margin: 0;

      & li {
        width: auto;
        padding: 10px 25px;
        
        & a {
          font-size: 18px;
          font-weight: normal;
          color: white;
        }
      }
    }
  }

  .hamburger {
    display: none;
  }
}