.home {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
}

.bg-img {
  height: 100vh;
  display: flex;
  background-size: cover;
  width: 100%;

  .hero {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, .5);
    
    & h1 {
      color: #9bbf00;
      width: 45%;
      margin-top: -130px;
      margin-right: 40px;
      line-height: 1.4;
    }

  }

  &--1 {
    background-image: url('img/3.jpg');
  }
}

.whatsapp {
  align-items: center;
  position: fixed;
  top: 15px;
  right: 15px;

  &__icon {
    height: 50px;
    width: 50px;
  }

  & a {
    & span {
      display: none;
    }
  }
}

.bg-steep {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
  width: 100%;
}

.steep {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  color: $primary;

  &__title {
    font-family: 'Fredericka the Great';
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 800;
  }

  &__description{
    font-size: 22px;
    font-weight: 900;
  }
}

@include md {
  .steep {
    margin: 0 80px;

    &__title {
      font-size: 36px;
    }
  }

  .whatsapp {
    top: auto;
    bottom: 50px;
    right: 60px;

    &__icon {
      height: 70px;
      width: 70px;
    }
  
    & a {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      color: #529404;

      & span {
        display: initial;
      }
    }
  }
}