body {
  font-family: 'Cormorant Garamond', serif;
}

nav {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  z-index: 5000;

  & ul {
    display: flex;
    margin-right: 30px;
    padding: 10px 0;

    & li {
      margin: 0 20px;
      list-style-type: none;
      
      & a {
        color: $primary;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}

.home {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: white;
  overflow: hidden;
  opacity: .5;
}

.home-img1 {
  height: 100vh;
  flex: 1;
  background-image: url('img/img1.jpg');
  background-size: cover;
}

.home-img2 {
  height: 100vh;
  flex: 1;
  background-image: url('img/img2.jpg');
  background-size: cover;
}

.home-img3 {
  height: 100vh;
  flex: 1;
  background-image: url('img/img3.jpg');
  background-size: cover;
}